.logo{
height: 70px;
}
.header{
    height: 100px;
}
.nav{
    height: 70px;
}
.aside{
    height: 400px;
}
.right{
    height: 150px;
}
.left{
    height: 235px;
}
.footer{
    height: 100px;
}